#about
	h1 О проекте &laquo;Fylik&raquo;
	p.
		Проект Fylik представляет из себя минималистичный, свободный файлообменник, который был запущен еще в марте 2019 года. Любой человек анонимно может выложить абсолютно любой файл, размером до {{$store.state.limits.size}} Мб. Все загруженные файлы попадают на главную страницу сайта и будут автоматически удалены через некоторое время.

	h2 Для чего такой проект?
	p.
		Проект создавался как тестовый проект для испытания новейших технологий веб-разработки. Не смотря на то, что проект тестовый, он работает отлично! В нём реализованы такие вещи, как:

	.items
		.items-item
			.items-item-icon.im.im-timer
			.items-item-label Скорость работы
			.items-item-text.
				Скорость передачи данных может достигать <b>1 Гб/сек.</b>

		.items-item
			.items-item-icon.im.im-code
			.items-item-label Открытость
			.items-item-text.
				У проекта <b>открытый исходный код</b>, который доступен <a href="https://github.com/aleoheen/fylik-client">здесь</a>.

		.items-item
			.items-item-icon.im.im-user-male
			.items-item-label Анонимность
			.items-item-text.
				Данные об отправителе файла никуда не сохраняются.

		.items-item
			.items-item-icon.im.im-idea
			.items-item-label Открытый REST API
			.items-item-text.
				Создавайте свои интернет-проекты на основе <a href="https://api.fylik.ru">Fylik API</a>.

		.items-item
			.items-item-icon.im.im-shield
			.items-item-label Безопасность
			.items-item-text.
				Проект надёжно защищён от возможных хакерских атах.

		.items-item
			.items-item-icon.im.im-circle-o
			.items-item-label Простота
			.items-item-text.
				Проект минималистичен. Нет ничего лишнего. Просто бери и пользуйся!

	h2 Техническая информация
	p.
		Проект реализован как веб-приложение (PWA).
		<br><br>
		Клиентская часть построена на фреймворке <b>Vue.JS</b>, проект собирается при помощи <b>Vue-CLI</b>.
		<br><br>
		На стороне сервера используются <b>Node.JS</b>, <b>Express.JS</b>, <b>MongoDB</b>. Для обработки загрузки файлов используется библиотека <b>Formidable</b>. Все настройки сервера собраны в единый <code>.env</code>-файл:

	figure
		img(src="@/assets/images/pages/about/env.jpg")
		figcaption Файл с настройками сервера (.env)

	p.
		При заходе на сайт, автоматически подгружаются с сервера лимиты на загрузку файлов (Ajax-запрос на адрес: <code>https://api.fylik.ru/limits</code>) и сохраняются в <b>VueX Storage</b>. На данный момент лимиты составляют:
		<br><br>
		<b>Максимальный размер загружаемого файла:</b> {{limits.size}} Мб
		<br>
		<b>Максимальное количество файлов на загрузку:</b> {{limits.amount}}

	p.
		Стоит отметить, что <b>серверная часть сайта защищена от переполнения места на жёстком диске</b>. Если суммарный размер всех файлов привысит лимит, система откажет в загрузке файла. Вне зависимости от этого, <b>максимально возможное количество всех файлов составляет {{65535 - 4096}} штук</b>. Такой лимит выставлен для возможности генерации коротких ID каждому файлу.

	p.
		На REST API наложен <b>Rate Limiting</b> для защиты от большого количества запросов к серверу.

	p.
		Автоудаление файлов происходит таким способом: при загрузке файла к нему прописывается параметр <code>expires</code>, который хранит в себе <code>текущее время + срок хранения файла</code>. Каждую секунду отдельный скрипт ищет в базе данных старые файлы (<code>expires < now</code>) и удаляет их из базы данных и из файловой системы.

	p.
		Живое обновление главной страницы реализовано на технологии <b>Long Polling</b>